{% extends "layout.html" %}

{% block main %}
    <h3>Who am I?</h3>
    I'm <a href=https://twitter.com/Tucker_TnL>Tucker Boynton</a>, a Harvard junior and lifelong NFL fan. I created this website to make advanced analytics accessible to all football fans.
    <br>
    <br>
    <h3>What is nflfastR?</h3>
    nflfastR is a database that contains advanced analytics on every play since 1999 (shoutout Ben Baldwin and Sebastian Case). Despite the wealth of information available through nflfastR, access is limited to those with coding proficiency.
    This web application provides NFL play-by-play data without requiring any background in coding.
    <br>
    <br>
    <h3>So, what's the point?</h3>
    Hopefully, it will enable and inspire more fans to go deeper than what they see on TV, hear on the radio, and read online.
    <a href="https://theathletic.com/1997663/2020/10/29/nfl-analytics-glossary-dvoa-epa-qbr/">Here's</a> a link to a glossary of the technical terms in the nflfastR database, and <a href="https://www.nflfastr.com/">here's</a> a link to the nflfastR starter
    page if you're interested in coding on your own.
    <br>
    <br>
    Feel free to <a href=mailto:tucker.boynton@gmail.com>reach out to me</a> if you have any comments, questions, or concerns.
{% endblock %}