{% extends "layout.html" %}

{% block main %}

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>$(document).ready(function() {
            $('.js-example-basic-single').select2();
        });</script>
    </head>

    <h4>Find plays matching...</h4>
    <hr>
    <form action="/results" method="get">
        <select name="team">
            <option selected value="">Team</option>
            {% for team in teams %}
                <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select>
        vs.
        <select name="opp">
            <option selected value="">Opp</option>
            {% for team in teams %}
                <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select>
        <hr>
        Team is
        <select name="home">
            <option selected value="">Either</option>
            <option value="home_team">Home</option>
            <option value="away_team">Away</option>
        </select>
        and on
        <select name="offense">
            <option selected value="">Either</option>
            <option value="posteam">Offense</option>
            <option value="defteam">Defense</option>
        </select>
        <hr>
        From
        <select name="start">
            {% for season in seasons %}
                <option value="{{ season }}">{{ season }}</option>
            {% endfor %}
        </select>
        to
        <select name="end">
            {% for season in seasons %}
                <option value="{{ season }}">{{ season }}</option>
            {% endfor %}
        </select>
        <hr>
        REG weeks:
        <select name="start_reg_week">
            {% for reg_week in reg_weeks %}
                <option value="{{ reg_week }}">{{ reg_week }}</option>
            {% endfor %}
        </select>
        -
        <select name="end_reg_week">
            {% for reg_week in reg_weeks %}
                <option value="{{ reg_week }}">{{ reg_week }}</option>
            {% endfor %}
        </select>
        <hr>
        POST weeks:
        <select name="start_post_week">
            {% for post_week in post_weeks %}
                <option value="{{ post_weeks[post_week] }}">{{ post_week }}</option>
            {% endfor %}
        </select>
        -
        <select name="end_post_week">
            {% for post_week in post_weeks %}
                <option value="{{ post_weeks[post_week] }}">{{ post_week }}</option>
            {% endfor %}
        </select>
        <hr>
        Quarter:
        {% for quarter in quarters %}
            <input name="{{ quarter }}" value="{{ quarter }}" type="checkbox" checked="checked"> {{ quarters[quarter] }}
        {% endfor %}
        <hr>
        Down:
        {% for down in downs %}
            <input name="{{ down + '_down' }}" value="{{ down }}" type="checkbox" checked="checked"> {{ downs[down] }}
        {% endfor %}
        <hr>
        Play type:
        {% for play_type in play_types %}
            <input name="{{ play_type }}" value="{{ play_type }}" type="checkbox" checked="checked"> {{ play_types[play_type] }}
        {% endfor %}
        <br>
        Exclude plays voided by penalties:
        <select name="no_play_excl">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
        <hr>
        Passer/Rusher:
        <select class="js-example-basic-single" name="name">
            <option selected value="">Choose</option>
            {% for name in names %}
                {% set player_name = name.name|string +  ' (' + name.posteam|string + ')' %}
                <option value="{{ name.id }}">{{ player_name }}</option>
            {% endfor %}
        </select>
        <br>
        Passer:
        <select class="js-example-basic-single" name="passer">
            <option selected value="">Choose</option>
            {% for passer in passers %}
                {% set player_name = passer.passer|string + ' (' + passer.posteam|string + ')' %}
                <option value="{{ passer.passer_id }}">{{ player_name }}</option>
            {% endfor %}
        </select>
        <br>
        Rusher:
        <select class="js-example-basic-single" name="rusher">
            <option selected value="">Choose</option>
            {% for rusher in rushers %}
                {% set player_name = rusher.rusher|string + ' (' + rusher.posteam|string + ')' %}
                <option value="{{ rusher.rusher_id }}">{{ player_name }}</option>
            {% endfor %}
        </select>
        <br>
        Receiver:
        <select class="js-example-basic-single" name="receiver">
            <option selected value="">Choose</option>
            {% for receiver in receivers %}
                {% set player_name = receiver.receiver|string + ' (' + receiver.posteam|string + ')' %}
                <option value="{{ receiver.receiver_id }}">{{ player_name }}</option>
            {% endfor %}
        </select>
        <hr>
        <select class="js-example-basic-single" name="player">
            <option selected value="">Choose</option>
            {% for player in players %}
                {% set player_name = player.player|string + ' (' + player.team|string + ')' %}
                <option value="{{ player.gsis_id }}">{{ player_name }}</option>
            {% endfor %}
        </select>
        is
        <select name="on_off">
            <option value="any">On/Off</option>
            <option value="on">On</option>
            <option value="off">Off</option>
        </select>
        the field
        <hr>
        <h5>Additional filters...</h5>
        <hr>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#playindicators">Play Outcome Indicators</button>
        <br>
        <div class="collapse" id="playindicators">
        Penalty:
        <select name="penalty">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        Turnover:
        <select name="turnover">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        Score:
        <select name="score">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <br>
        Complete pass:
        <select name="complete_pass">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        Sack:
        <select name="sack">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        Interception:
        <select name="interception">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        </div>
        <hr>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#playcontext">Play Context</button>
        <br>
        <div class="collapse" id="playcontext">
        No-huddle:
        <select name="no_huddle">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        Pass location:
        <select name="pass_location">
            <option value="any">Any</option>
            <option value="left">Left</option>
            <option value="middle">Middle</option>
            <option value="right">Right</option>
        </select>
        Roof:
        <select name="roof">
            <option value="any">Any</option>
            <option value="dome">Dome</option>
            <option value="outdoors">Outdoors</option>
            <option value="closed">Closed</option>
            <option value="open">Open</option>
        </select>
        </div>
        <hr>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#gamedriveresult">Game/Drive Result</button>
        <br>
        <div class="collapse" id="gamedriveresult">
        Game result (for possession team):
        <select name="win">
            <option value="any">Any</option>
            <option value="won">Won</option>
            <option value="lost">Lost</option>
            <option value="tied">Tied</option>
        </select>
        Drive result:
        <select name="drive_result">
            <option value="any">Any</option>
            <option value="Punt">Punt</option>
            <option value="Touchdown">Touchdown</option>
            <option value="Turnover">Turnover</option>
            <option value="Field goal">Field goal</option>
            <option value="Missed field goal">Missed field goal</option>
            <option value="Opp touchdown">Opp touchdown</option>
            <option value="End of half">End of half</option>
            <option value="Safety">Safety</option>
            <option value="Turnover on downs">Turnover on downs</option>
        </select>
        </div>
        <hr>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formationpersonnel">Formation/Personnel</button>
        <div class="collapse" id="formationpersonnel">
        Offensive personnel (RB,TE):
        <select name="o_personnel">
            <option value="any">Any</option>
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select>
        <br>
        Offensive formation:
        <select name="offense_formation">
            <option value="any">Any</option>
            <option value="SINGLEBACK">Singleback</option>
            <option value="I_FORM">I</option>
            <option value="SHOTGUN">Shotgun</option>
            <option value="PISTOL">Pistol</option>
            <option value="EMPTY">Empty</option>
            <option value="JUMBO">Jumbo</option>
            <option value="WILDCAT">Wildcat</option>
            <option value="ACE">Ace</option>
        </select>
        <br>
        Defensive personnel (DL,LB):
        <select name="dl">
            <option value="any">Any</option>
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
        </select>
        ,
        <select name="lb">
            <option value="any">Any</option>
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
        </select>
        <br>
        Box defenders:
        <select name="defenders_in_box">
            <option value="any">Any</option>
            {% for i in range(12) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        </div>
        <hr>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#playerinfo">Player Info</button>
        <br>
        <div class="collapse" id="playerinfo">
            <select name="player_info_join">
                <option value="id">Passer/Rusher</option>
                <option value="passer_id">Passer</option>
                <option value="rusher_id">Rusher</option>
                <option value="receiver_id">Receiver</option>
            </select>
            info...
            <br>
            Age:
            <select name="start_age">
                <option value="any">Any</option>
                {% for i in range(17,51) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            -
            <select name="end_age">
                <option value="any">Any</option>
                {% for i in range(50,16,-1) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <br>
            Height (in):
            <select name="start_height">
                <option value="any">Any</option>
                {% for i in range(60,86) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            -
            <select  name="end_height">
                <option value="any">Any</option>
                {% for i in range(85,59,-1) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <br>
            Weight (lb):
            <select name="start_weight">
                <option value="any">Any</option>
                {% for i in range(100,451) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            -
            <select name="end_weight">
                <option value="any">Any</option>
                {% for i in range(450,99,-1) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <br>
            Season of career:
            <select name="start_exp">
                <option value="any">Any</option>
                {% for i in range(1,31) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            -
            <select name="end_exp">
                <option value="any">Any</option>
                {% for i in range(30,0,-1) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <hr>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#manualfilters">Custom Filters</button>
        <br>
        <div class="collapse" id="manualfilters">
        {% for i in range(NUMFILTERS) %}
            <select name={{ ["filter", i|string]|join }}>
                <option selected value="">Choose Filter</option>
                    {% for filter in filters %}
                        <option value="{{ filter }}">{{ filters[filter] }}</option>
                    {% endfor %}
            </select>
            <select name={{ ["inequality", i|string]|join }}>
                <option selected value="">Choose</option>
                    {% for inequality in inequalities %}
                        <option value="{{ inequality }}">{{ inequality }}</option>
                    {% endfor %}
            </select>
            <input name={{ ["filtervalue", i|string]|join }} placeholder=0 type="number" step=0.01>
            <br>
        {% endfor %}
        </div>
        <hr>
        <h5>Grouping/sorting mechanism...</h5>
        <hr>
        Sort by:
        <select name="order">
            <option value="DESC">Descending</option>
            <option value="ASC">Ascending</option>
        </select>
        <select name="total">
            <option value="SUM">Total</option>
            <option value="AVG">Average</option>
        </select>
        <select name="sort">
            {% for filter in filters %}
                <option value="{{ filter }}">{{ filters[filter] }}</option>
            {% endfor %}
        </select>
        <hr>
        Group by:
        <select name="grouping">
            <option selected value="">Choose</option>
            {% for grouping in groupings %}
                <option value="{{ grouping }}">{{ groupings[grouping] }}</option>
            {% endfor %}
        </select>
        ,
        <select name="grouping2">
            <option selected value="">Choose</option>
            {% for grouping in groupings %}
                <option value="{{ grouping }}">{{ groupings[grouping] }}</option>
            {% endfor %}
        </select>
        <hr>
        Minimum plays (for grouped searches):
        <input name="minimum" placeholder=1 value=1 type="number" min="1">
        <input type="hidden" name="game_id" value="">
        <hr>
        <div class="form-group">
            <button class="btn btn-primary" id="submit" type="submit">Submit</button>
        </div>
    </form>
    Data coverage: Pass location/air yards and its derivatives (CPOE, YAC, etc.) 2006-21. Participation data (personnel, on/off field, formations, box defenders) 2016-21.
{% endblock %}