{% extends "layout.html" %}

{% block main %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#submit').click(function()
            {
                var value = $('#selected_receiver').val();
                alert($('#receivers [value="' + value + '"]').data('value'));
            });
        });
    </script>

    <h5>Find plays with...</h5>
    <hr>
    <form action="/results" method="get">
        <select name="team">
            <option selected value="">Team</option>
            {% for team in teams %}
                <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select>
        vs.
        <select name="opp">
            <option selected value="">Opp</option>
            {% for team in teams %}
                <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select>
        <hr>
        Team is
        <select name="home">
            <option selected value="">Either</option>
            <option value="home_team">Home</option>
            <option value="away_team">Away</option>
        </select>
        and on
        <select name="offense">
            <option selected value="">Either</option>
            <option value="posteam">Offense</option>
            <option value="defteam">Defense</option>
        </select>
        <hr>
        From
        <select name="start">
            {% for season in seasons %}
                <option value="{{ season }}">{{ season }}</option>
            {% endfor %}
        </select>
        to
        <select name="end">
            {% for season in seasons %}
                <option value="{{ season }}">{{ season }}</option>
            {% endfor %}
        </select>
        <hr>
        REG weeks
        <select name="start_reg_week">
            {% for reg_week in reg_weeks %}
                <option value="{{ reg_week }}">{{ reg_week }}</option>
            {% endfor %}
        </select>
        -
        <select name="end_reg_week">
            {% for reg_week in reg_weeks %}
                <option value="{{ reg_week }}">{{ reg_week }}</option>
            {% endfor %}
        </select>
        <hr>
        POST weeks
        <select name="start_post_week">
            {% for post_week in post_weeks %}
                <option value="{{ post_weeks[post_week] }}">{{ post_week }}</option>
            {% endfor %}
        </select>
        -
        <select name="end_post_week">
            {% for post_week in post_weeks %}
                <option value="{{ post_weeks[post_week] }}">{{ post_week }}</option>
            {% endfor %}
        </select>
        <hr>
        Quarter:
        {% for quarter in quarters %}
            <input name="{{ quarter }}" value="{{ quarter }}" type="checkbox" checked="checked"> {{ quarters[quarter] }}
        {% endfor %}
        <hr>
        Play type:
        {% for play_type in play_types %}
            <input name="{{ play_type }}" value="{{ play_type }}" type="checkbox" checked="checked"> {{ play_types[play_type] }}
        {% endfor %}
        <hr>
        {% for i in range(NUMFILTERS) %}
            <select name={{ ["filter", i|string]|join }}>
                <option selected value="">Choose Filter</option>
                    {% for filter in filters %}
                        <option value="{{ filter }}">{{ filters[filter] }}</option>
                    {% endfor %}
            </select>
            <select name={{ ["inequality", i|string]|join }}>
                <option selected value="">Choose</option>
                    {% for inequality in inequalities %}
                        <option value="{{ inequality }}">{{ inequality }}</option>
                    {% endfor %}
            </select>
            <input name={{ ["filtervalue", i|string]|join }} placeholder=0 type="number" step=0.01>
            <br>
        {% endfor %}
        <hr>
        Penalty:
        <select name="penalty">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        Turnover:
        <select name="turnover">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        Score:
        <select name="score">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <hr>
        Complete pass:
        <select name="complete_pass">
            <option value="either">Either</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        Roof:
        <select name="roof">
            <option value="any">Any</option>
            <option value="dome">Dome</option>
            <option value="outdoors">Outdoors</option>
            <option value="closed">Closed</option>
            <option value="open">Open</option>
        </select>
        Possession team:
        <select name="win">
            <option value="any">Any</option>
            <option value="won">Won</option>
            <option value="lost">Lost</option>
            <option value="tied">Tied</option>
        </select>
        <hr>
        Sort by:
        <select name="order">
            <option value="DESC">Descending</option>
            <option value="ASC">Ascending</option>
        </select>
        <select name="total">
            <option value="SUM">Total</option>
            <option value="AVG">Average</option>
        </select>
        <select name="sort">
            {% for filter in filters %}
                <option value="{{ filter }}">{{ filters[filter] }}</option>
            {% endfor %}
        </select>
        <hr>
        Group by:
        <select name="grouping">
            <option selected value="">Choose</option>
            {% for grouping in groupings %}
                <option value="{{ grouping }}">{{ groupings[grouping] }}</option>
            {% endfor %}
        </select>
        ,
        <select name="grouping2">
            <option selected value="">Choose</option>
            {% for grouping in groupings %}
                <option value="{{ grouping }}">{{ groupings[grouping] }}</option>
            {% endfor %}
        </select>
        <hr>
        Minimum plays (for grouped searches):
        <input name="minimum" placeholder=1 value=1 type="number" min="1">
        <hr>
        Passer/Rusher:
        <select name="name">
            <option selected value="">Choose</option>
            {% for name in names %}
                {% set player_name = name.name.split(',') %}
                <option value="{{ name.id }}">{{ player_name[0]|replace(" ","") }}</option>
            {% endfor %}
        </select>
        Passer:
        <select name="passer">
            <option selected value="">Choose</option>
            {% for passer in passers %}
                {% set player_name = passer.passer.split(',') %}
                <option value="{{ passer.passer_id }}">{{ player_name[0]|replace(" ","") }}</option>
            {% endfor %}
        </select>
        <br>
        Rusher:
        <select name="rusher">
            <option selected value="">Choose</option>
            {% for rusher in rushers %}
                {% set player_name = rusher.rusher.split(',') %}
                <option value="{{ rusher.rusher_id }}">{{ player_name[0]|replace(" ","") }}</option>
            {% endfor %}
        </select>
        Receiver:
        <input id="selected_receiver" name="receiver" list="receivers">
        <datalist id="receivers">
            <option selected value="">Choose</option>
            {% for receiver in receivers %}
                {% set player_name = str(receiver.receiver.split(',')[0].replace(' ','')) + '(' + str(receiver.receiver_id) + ')' %}
                <option value="{{ player_name }}"></option>
            {% endfor %}
        </datalist>
        <hr>
        <div class="form-group">
            <button class="btn btn-primary" id="submit" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}