{% extends "layout.html" %}

{% block main %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
        <script src="static/datatables.js"></script>
    </head>

    <b>Query: </b>{{ searchdesc }}
    <hr>
    <table id="table_id" class="cell-border compact stripe">
        <thead>
            <tr>
                <th>Rank</th>
                <th>{{ sort[1] }}</th>
                <th>Offense</th>
                <th>Defense</th>
                <th>Week</th>
                <th>Date</th>
                <th>Quarter</th>
                <th>Time</th>
                <th>Down</th>
                <th>Distance</th>
                <th>Description</th>
                {% for filter in filter_dict %}
                    <th>{{ filter_dict[filter] }}</th>
                {% endfor %}
                <th>Box Scores</th>
            </tr>
        </thead>
        <tbody>
            {% for play in plays %}
                <tr>
                    <td></td>
                    <td>{{ '%0.2f'|format(play[sort[0]]|float) }}</td>
                    <td>{{ play.posteam }}</td>
                    <td>{{ play.defteam }}</td>
                    <td>{{ play.week }}</td>
                    <td>{{ play.game_date }}</td>
                    <td>{{ play.qtr|int }}</td>
                    {%- if play.quarter_seconds_remaining|int % 60 < 10 -%}
                        <td>{{ play.quarter_seconds_remaining|int // 60 }}:0{{ play.quarter_seconds_remaining|int % 60 }}</td>
                    {%- else -%}
                        <td>{{ play.quarter_seconds_remaining|int // 60 }}:{{ play.quarter_seconds_remaining|int % 60 }}</td>
                    {%- endif -%}
                    <td>{{ play.down|int }}</td>
                    <td>{{ play.ydstogo|int }}</td>
                    <td>{{ play.'desc' }}</td>
                    {%- for filter in filter_dict.keys() -%}
                        <td>{{ '%0.2f'|format(play[filter]|float) }}</td>
                    {%- endfor -%}
                    <td><a href="https://rbsdm.com/stats/box_scores/?_inputs_&type=%22{{ play.season_type|lower }}%22&away=%22{{ play.away_team }}%22&home=%22{{ play.home_team }}%22&year=%22{{ play.season }}%22">Box Score</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    Search output limited to 1,000 results.
{% endblock %}