{% extends "layout.html" %}

{% block main %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
        <script src="static/datatables.js"></script>
    </head>

    <table id="table_id" class="cell-border compact stripe">
        <thead>
            <tr>
                <th>Rank</th>
                <th>QB</th>
                <th>Season</th>
                <th>EPA/P</th>
                <th>CPOE</th>
                <th>DVOA</th>
                <th>DYAR</th>
                <th>PFF</th>
                <th>QBR</th>
                <th>Sack%</th>
            </tr>
        </thead>
        <tbody>
            {% for qb in quarterbacks %}
                <tr>
                    <td></td>
                    <td>{{ qb.full_name }}</td>
                    <td>{{ qb.season|int }}</td>
                    <td>{{ '%0.3f'|format(qb.EPA|float) }}</td>
                    <td>{{ '%0.2f'|format(qb.CPOE|float) }}</td>
                    <td>{{ '%0.2f'|format(qb.DVOA|float) }}</td>
                    <td>{{ qb.DYAR|int }}</td>
                    <td>{{ qb.PFF }}</td>
                    <td>{{ qb.qbr_total }}</td>
                    <td>{{ '%0.2f'|format(qb.sack_rate|float) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}