{% extends "layout.html" %}

{% block main %}

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>$(document).ready(function() {
            $('.js-example-basic-single').select2();
        });</script>
        
    </head>
    <h3>Quarterback Database</h3>
    Here, you can find a full database of QB seasons (min. 300 plays) and games (min. 20 plays) since 1999. Filter by team, week, year, or player using the forms below.
    <hr>
    <form action="/qb_seasons" method="get">
        <h5>Seasons:</h5>
            Season:
            <select name="start">
                {% for season in range(2022, 1998, -1) %}
                    <option value="{{ season }}">{{ season }}</option>
                {% endfor %}
            </select>
            -
            <select name="end">
                {% for season in range(2022, 1998, -1) %}
                    <option value="{{ season }}">{{ season }}</option>
                {% endfor %}
            </select>
            <br>
            Team:
            <select name="team">
                <option selected value="">Team</option>
                {% for team in teams %}
                    <option value="{{ team }}">{{ team }}</option>
                {% endfor %}
            </select>
            <br>
            Quarterback:
            <select class="js-example-basic-single" name="quarterback">
                <option selected value="">Any</option>
                {% for quarterback in season_quarterbacks %}
                    <option value="{{ quarterback.full_name }}">{{ quarterback.full_name }}</option>
                {% endfor %}
            </select>
            <hr>
            <div class="form-group">
                <button class="btn btn-primary" id="submit" type="submit">Search Seasons</button>
            </div>
    </form>
    <hr>
    <form action="/qb_gamelog" method="get">
        <h5>Games:</h5>
            Season:
            <select name="start">
                {% for season in range(2022, 1998, -1) %}
                    <option value="{{ season }}">{{ season }}</option>
                {% endfor %}
            </select>
            -
            <select name="end">
                {% for season in range(2022, 1998, -1) %}
                    <option value="{{ season }}">{{ season }}</option>
                {% endfor %}
            </select>
            <br>
            Team:
            <select name="team">
                <option selected value="">Any</option>
                {% for team in teams %}
                    <option value="{{ team }}">{{ team }}</option>
                {% endfor %}
            </select>
            <br>
            Quarterback:
            <select class="js-example-basic-single" name="quarterback">
                <option selected value="">Choose</option>
                {% for quarterback in game_quarterbacks %}
                    <option value="{{ quarterback.full_name }}">{{ quarterback.full_name }}</option>
                {% endfor %}
            </select>
            Week:
            <select name="week_start">
                {% for week in range(1,23,1) %}
                    <option value="{{ week }}">{{ week }}</option>
                {% endfor %}
            </select>
            -
            <select name="week_end">
                {% for week in range(22,0,-1) %}
                    <option value="{{ week }}">{{ week }}</option>
                {% endfor %}
            </select>
            <hr>
            <div class="form-group">
                <button class="btn btn-primary" id="submit" type="submit">Search Games</button>
            </div>
            Note: Single-game searches with fewer parameters will take longer to render.
            <hr>
    </form>
    Data coverage: Pass location/air yards and its derivatives (CPOE, YAC, etc.) 2006-21. Participation data (personnel, on/off field, formations, box defenders) 2016-21.
{% endblock %}