{% extends "layout.html" %}

{% block main %}
    <h3>DataViz Apps</h3>
    I've been working to turn my favorite data visualizations into interactive apps. I'll be adding links here as I do so.
    <hr>
    <ul>
        <li><a href=https://tucker-boynton.shinyapps.io/game_charts>Game Possession Reports</a></li>
        <li><a href=https://tuckerboynton.shinyapps.io/nflapps>QB EPA Breakdown Tables</a></li>
        <li><a href=https://tuckerboynton.shinyapps.io/nflseedr_sims>NFL Season Simulations</a></li>
        <li><a href=https://tucker-boynton.shinyapps.io/nflplayercards>2020 Quarterback Cards</a></li>
        <li><a href=https://tuckerboynton.shinyapps.io/4thdowns>Team 4th Down Decisions</a></li>
        <li><a href=https://tucker-boynton.shinyapps.io/nfldraft>NFL Draft, Last 10 Years</a></li>
    </ul>
{% endblock %}